<% include header  %>
<h2> Write a new entry</h2>
<form method="post" role="form">
 <div>
  <label class="form-group">Title</label>
  <input type="text" class="form-control" id="title"
   name="title" placeholder="Entry title" required>
 </div>
 <div></div>
 <div>
  <input>
 </div>
</form>