<!DOCTYPE html>
<html lang="en">

<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <meta http-equiv="X-UA-Compatible" content="ie=edge">
 <title>Express Guestbook</title>
 <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="container"> 
 <h1>
  Express Guestbook
  <a href="/new-entry" class="btn btn-primary pull-right">
   Write in the Guestbook.
  </a>
 </h1>
</body>

</html>